@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap');

/* Wildcard styles to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*Generic Fonts*/
    font-family: "Roboto Condensed", sans-serif;
    color: #444444;
}

h1,
h2,
h3 {
    font-family: "Anton SC", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
    text-shadow: 0 2px 2px black;
}

p {
    width: 100%;
    padding: 5px 10px;
}

/* Header */
header {
    background-color: rgb(88, 88, 88);
    color: #fafafa;
    box-shadow: 0 2px 2px #404040;
    height: 100px;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    z-index: 99;
}

header>div {
    align-self: center;
    border: 2px solid #fafafa;
    box-shadow: 0 2px 2px black;
    padding: 0px 10px;
    border-radius: 15px;
}

header>nav {
    width: 450px;
    align-self: center;
}

header a {
    text-decoration: none;
    color: inherit;

}

header li:hover {
    color: red;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 10px 0 10px;
}

/* Makes dumbell icon appear next to active page on navbar */
.menu i {
    display: none;
}

.active i {
    display: inherit;
}


/*Main Content*/
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 100px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

.no-text-shadow {
    text-align: center;
    text-shadow: none;
}

/* Hero Section */
#hero {
    background: url(../images/hero.webp) no-repeat 60% 20%;
    background-color: #0e0762;
    background-size: 50em;
    position: relative;
    width: 100%;
    height: 450px;
}

#hero-text {
    color: #fafafa;
    position: absolute;
    background-color: rgba(88, 88, 88, 0.8);
    font-size: 75%;
    width: 230px;
    bottom: 150px;
    left: 5px;
    padding: 10px 5px;
}

/* About Gravity Fighters Section */
#about,
#lifting-types {
    margin: 10px;
}

/* Types of lifting Section */

.lifting-class {
    margin-bottom: 10px;
}

#lifting-types h3 {
    text-shadow: none;
}


.lifting-class {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.lifting-class h3,
.lifting-class div {
    align-self: center;
}

/* Bodybuilding */
#bodybuilding-img {
    background: url(../images/bodybuilder.webp) no-repeat center center;
    background-size: 25em;
    width: 95%;
    height: 265px;
    margin: 10px;
}

/* Powerlifting */
#powerlifting-img {
    background: url(../images/powerlifter.webp) no-repeat center center;
    background-size: 25em;
    width: 95%;
    height: 265px;
    margin: 10px;
}

/* Weightlifting */
#weightlifting-img {
    background: url(../images/olympic-weightlifter.webp) no-repeat center center;
    background-size: 25em;
    width: 95%;
    height: 265px;
    margin: 10px;
}

/* Workouts */
details>p {
    text-align: center;
    font-style: italic;
    margin-bottom: 40px;
}

details {
    border: #585858 solid 1px;
    border-radius: 5px;
    margin: 1px 5px;
    background-color: #585858;
    color: #fafafa;
}


#workouts {
    margin-bottom: 20px;
    /*Pushes footer down on workouts page*/
}

#workouts>h2,
#workouts h3 {
    margin-top: 20px;
}

#workouts summary {
    margin: 10px 0px 10px 20px;
    font-weight: bolder;
}

#workouts table {
    text-align: center;
    font-size: 16px;
    padding: 5px 1px 10px 1px;
    width: 100%;
}

#workouts th,
#workouts td {
    padding: 10px 1px;
}

/*Footer*/
footer {
    background-color: #585858;
    color: #fafafa;
    text-align: center;
    display: block;
    padding-top: 5px;
}

#footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#social-networks {
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    background-color: #585858;
    height: 144px;
    width: 200px;
}


#social-networks i {
    font-size: 200%;
    padding: 15px 5px;
    color: #fafafa;
    text-shadow: 0 2px 2px black;
}

#gf-logo {
    color: #fafafa;
    border: 2px solid #fafafa;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    box-shadow: 0 2px 2px black;
}

#gf-logo i {
    padding: 20px 3px;
}

/*Hides the full size footer logo on mobile phones*/
#full-sized-footer-logo {
    display: none;
}


/* Media Queries */

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width:768px) {

    /* Footer */
    footer>h3 {
        font-size: 150%;
    }

    #full-sized-footer-logo {
        display: inherit;
        border: 2px solid #fafafa;
        box-shadow: 0 2px 2px black;
        padding: 0px 10px;
        border-radius: 15px;
        align-items: center;
        /* Stop the full size logo from overhanging at the left at 768px */
        margin-left: 40px;
    }

    #mobile-footer-logo {
        display: none;
    }

    #gf-logo {
        border: none;
        box-shadow: none;
    }

    #social-networks {
        justify-content: space-around;
        align-items: center;
        padding: 5px;
        flex-direction: row;
        flex-wrap: nowrap;
        list-style-type: none;
        background-color: #585858;
        font-size: 150%;
        height: 112px;
        width: 50%;
    }

    /* Changes to alternate hero image at 768px */

    /* Main */

    /* Hero */
    #hero {
        background: url(../images/hero.webp) no-repeat center 20%;
        background-size: 65em;
        height: 500px;
    }

    #hero-text {
        font-size: 100%;
        width: 300px;
        left: 100px;
        bottom: 150px;
        padding: 20px;
    }

    #about,
    #lifting-types>h2,
    #lifting-types>p {
        text-align: center;
    }

    #bodybuilding-img {
        background-position-x: 58%;
        background-size: 30em;
        width: 300px;
        height: 300px;
        margin: 10px;
        border-radius: 50%;
    }

    #powerlifting-img {
        background-position-x: 50%;
        background-size: 30em;
        width: 300px;
        height: 300px;
        margin: 10px;
        border-radius: 50%;
    }

    #weightlifting-img {
        background-position: 65% 80%;
        background-size: 30em;
        width: 300px;
        height: 300px;
        margin: 10px;
        border-radius: 50%;
    }

    /* Media query: Laptops and larger (992px and up) */
    @media screen and (min-width:992px) {

        /* Header */
        header {
            height: 125px;
            font-size: 125%;
        }

        /* Pushes main section down to accomodate taller header */
        main {
            margin-top: 125px;
        }

        /* Workouts */
        #workout-lists {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #workout-lists>div {
            width: 700px;
        }
    }

    /* Media query: Larger laptops and PC screens (1024px and up) */
    @media screen and (min-width:1024px) {

        /* Main */

        /* Hero */
        #hero {
            background-size: 90em;
            height: 700px;
        }

        #hero-text {
            font-size: 120%;
            width: 400px;
            left: 100px;
            bottom: 300px;
            padding: 30px;
        }

        .content p {
            font-size: 1em;
        }

        .content h2 {
            font-size: 250%;
        }

        .content h3 {
            font-size: 200%;
        }

        hr {
            display: none;
        }

        /* Types of lifting section */
        .lifting-class {
            flex-basis: 500px;
            padding: 20px;
            text-align: center;
        }

        #lifting-types {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }

        .details-class p {
            font-size: 16px;
        }

    }

    /* Media query: Wide Resolution PC screens (1440px and up) */
    @media screen and (min-width:1440px) {

        #hero {
            background: url(../images/hero.webp) no-repeat center 30%;
            background-size: 100%;
            height: 55em;
        }
    }

    /* Media query: Wide Resolution PC screens (2000px and up) */
    @media screen and (min-width:2000px) {

        #hero {
            height: 60em;
        }
    }