@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap');

/* Wildcard styles to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*Generic Fonts*/
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(77, 77, 77);
}

h1,
h2,
h3 {
    font-family: "Anton SC", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 2px 2px black;
}

/* Header */
header {
    background-color: rgb(88, 88, 88);
    color: #fafafa;
    box-shadow: 0 2px 2px #404040;
    height: 100px;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
}

header>div {
    align-self: center;
}

header>nav {
    width: 450px;
    align-self: center;
}

header a {
    text-decoration: none;
    color: inherit;

}

header li:hover {
    color: red;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 10px 0 10px;
}

/* Makes dumbell icon appear next to active page on navbar */
.menu i {
    display: none;
}

.active i {
    display: inherit;
}


/*Main Content*/
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 100px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
    background-color: beige;
}

/*Footer*/
footer{
    background-color: #585858;
    color: #fafafa;
    text-align: center;
    display: block;
    padding-top: 5px;
}

#social-networks {
    text-align: center;
    padding: 5px 20px 20px 20px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #585858;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #fafafa;
    text-shadow: 0 2px 2px black;
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width:768px) {}

/* Media query: Laptops and larger (992px and up) */
@media screen and (min-width:992px) {

    /* Header */
    header {
        height: 125px;
        font-size: 125%;
    }
    /* Pushes main section down to accomodate taller header */
    main {
        margin-top: 125px;
    }
}