@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap');

/* Wildcard styles to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*Generic Fonts*/
    font-family: "Roboto Condensed", sans-serif;
    color: #444444;
}

h1,
h2,
h3,
h4 {
    font-family: "Anton SC", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
    text-shadow: 0 2px 2px black;
}

p {
    width: 100%;
    padding: 5px 10px;
}


/* Header (Start) */
header {
    background-color: rgb(88, 88, 88);
    color: #fafafa;
    box-shadow: 0 2px 2px #404040;
    height: 100px;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    z-index: 99;
}

header>div {
    align-self: center;
    border: 2px solid #fafafa;
    box-shadow: 0 2px 2px black;
    padding: 0px 10px;
    border-radius: 15px;
}

header>nav {
    width: 450px;
    align-self: center;
}

header a {
    text-decoration: none;
    color: inherit;

}

header li:hover {
    color: red;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 10px 0 10px;
}

/* Makes dumbell icon appear next to active page on navbar */
.menu i {
    display: none;
}

.active i {
    display: inherit;
}

/* Header (End) */

/* Main Content (Start) */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 100px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

.content {
    margin-top: 20px;
}

.no-text-shadow h2,
.no-text-shadow h3,
.no-text-shadow h4 {
    text-align: center;
    text-shadow: none;
}

/* Hero Section (Start)*/
#hero {
    background: url(../images/hero.webp) no-repeat 60% 20%/cover;
    background-color: #0e0762;
    position: relative;
    width: 100%;
    height: 450px;
}

#hero-text {
    color: #fafafa;
    position: absolute;
    background-color: rgba(88, 88, 88, 0.8);
    font-size: 75%;
    width: 230px;
    bottom: 150px;
    left: 5px;
    padding: 10px 5px;
}

/* Hero Section (End)*/

/* About Gravity Fighters Section (Start) */

#about,
#lifting-types {
    margin: 10px;
}

/* About Gravity Fighters Section (End) */

/* Types of lifting Section (Start) */
.lifting-class {
    margin-bottom: 10px;
}

#lifting-types h3 {
    text-shadow: none;
}


.lifting-class {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.lifting-class h3,
.lifting-class div {
    align-self: center;
}

/* Bodybuilding */
#bodybuilding-img {
    background: url(../images/bodybuilder.webp) no-repeat center center;
    background-size: 25em;
    width: 95%;
    height: 265px;
    margin: 10px;
}

/* Powerlifting */
#powerlifting-img {
    background: url(../images/powerlifter.webp) no-repeat center center;
    background-size: 25em;
    width: 95%;
    height: 265px;
    margin: 10px;
}

/* Weightlifting */
#weightlifting-img {
    background: url(../images/olympic-weightlifter.webp) no-repeat center center;
    background-size: 25em;
    width: 95%;
    height: 265px;
    margin: 10px;
}

/* Types of lifting section (End) */

/* Workouts (Start) */
details>p {
    text-align: center;
    font-style: italic;
    margin-bottom: 40px;
}

details {
    border: #585858 solid 1px;
    border-radius: 5px;
    margin: 1px 5px;
    background-color: #585858;
    color: #fafafa;
}


#workouts {
    margin-bottom: 20px;
    /*Pushes footer down on workouts page*/
}

#workouts h3 {
    margin-top: 20px;
}

#workouts summary {
    margin: 10px 0px 10px 20px;
    font-weight: bolder;
}

#workouts table {
    text-align: center;
    font-size: 16px;
    padding: 5px 1px 10px 1px;
    width: 100%;
}

#workouts th,
#workouts td {
    padding: 10px 1px;
}

/* Workouts (End) */

/* Recipes (Start) */
.nutrition {
    text-align: center;
}

#recipes {
    margin: 10px;
}

.recipe-nav-class {
    width: 100%;
    height: 100px;
    border-radius: 15px;
}

.recipe-nav-class>div {
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
    display: flex;
    border-radius: 15px;
    border: black 2px solid;
    box-shadow: black 0 2px 2px;
}


#recipe-nav

/* Recipe Navigation (Start) */
    {
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    justify-content: space-around;
}

#recipe-nav a {
    text-decoration: none;
    color: #000000;
    width: 45%;
    height: 100px;
    margin: 10px 0;
}

#nav-1,
#nav-2,
#nav-3,
#nav-4 {
    background-size: 100%;
}

#nav-1 {
    background: url(../images/overnight-oats.webp) no-repeat center center/cover;
}

#nav-2 {
    background: url(../images/pancakes.webp) no-repeat center center/cover;
}

#nav-3 {
    background: url(../images/steak-burrito-bowl.webp) no-repeat center center/cover;
}

#nav-4 {
    background: url(../images/omelette.webp) no-repeat center center/cover;
}

#recipe-nav div>h3 {
    justify-content: center;
    align-content: center;
    margin: 0 10%;
    width: 100%;
}

/* Recipe Navigation (End) */

/* Competition Navbar (Start) */
#competition-nav>.recipe-nav-class>div {
    border: none;
    box-shadow: none;
}

#nav-5 {
    width: 100%;
    height: 50px;
    margin: 10px inherit;
    border: #fafafa 2px solid;
    box-shadow: 0 2px 2px black;
    color: #fafafa;
}

#nav-5>div {
    background-color: #585858;
}

#recipe-nav>#competition-nav {
    height: 50px;
    width: 100%;
    font-size: 14px;
}

#nav-5>div>h3 {
    text-shadow: 0 2px 2px black;
}

/* Competition Navbar (End) */

#recipes h3 {
    margin-top: 10px;
}

#recipes ul>h4,
#recipes ol>h4 {
    text-align: left;
}

#recipes ol,
#recipes ul {
    padding: 10px 20px;
}

#recipes li {
    padding: 5px 2px;
}

.recipe-img {
    display: block;
    margin: 20px auto;
    width: 90%;
    max-width: 365px;
}

#recipe-1 img {
    width: 200px;
    min-width: 200px;
    width: 40%;
}

/* Recipes (End) */

/* Competition Form (Start) */
.competition-button {
    background-color: #585858;
    font-size: 16px;
    color: #fafafa;
    border: #fafafa 2px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    box-shadow: #000000 0 2px 2px;
    font-family: "Anton SC", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
    text-shadow: 0 2px 2px black;
}

/*#competition {
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}*/

#competition-form>div {
    background-color: #585858;
    border: #fafafa 2px solid;
    border-radius: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: #000000 0 2px 2px;
}

#competition-form label,
#competition-form h3,
#competition-form h4 {
    color: #fafafa;
}

#competition-form h4 {
    margin-bottom: 15px;
}

.text-input,
.competition-button,
#favorite-recipe,
#competition-form label {
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Competition Form (End) */

/* Main Content (End) */

/*Footer (Start)*/
footer {
    background-color: #585858;
    color: #fafafa;
    text-align: center;
    display: block;
    padding-top: 5px;
}

#footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#social-networks {
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    background-color: #585858;
    height: 144px;
    width: 200px;
}


#social-networks i {
    font-size: 200%;
    padding: 15px 5px;
    color: #fafafa;
    text-shadow: 0 2px 2px black;
}

#gf-logo {
    color: #fafafa;
    border: 2px solid #fafafa;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    box-shadow: 0 2px 2px black;
}

#gf-logo i {
    padding: 20px 3px;
}

/*Footer (End)*/

#error {
    margin: 40px 30px 30px 30px;
}

#error>h1 {
    text-shadow: none;
    font-size: 2em;
    margin-left: 10px;
}

#error>ol {
    margin: 25px;
}

#error li,
#error>p {
    padding: 10px;
}

#error a {
    text-decoration: none;
}

/*Hides the full size footer logo on mobile phones*/
#full-sized-footer-logo {
    display: none;
}


/* Media Queries */

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width:768px) {

    /* Main Content (Start) */

    /* Hero (Start) */
    #hero {
        height: 500px;
    }

    #hero-text {
        font-size: 100%;
        width: 300px;
        left: 100px;
        bottom: 150px;
        padding: 20px;
    }

    /* Hero (End) */
    #about,
    #lifting-types>h2,
    #lifting-types>p {
        text-align: center;
    }

    #bodybuilding-img {
        background-position-x: 58%;
        background-size: 30em;
        width: 300px;
        height: 300px;
        margin: 10px;
        border-radius: 50%;
    }

    #powerlifting-img {
        background-position-x: 50%;
        background-size: 30em;
        width: 300px;
        height: 300px;
        margin: 10px;
        border-radius: 50%;
    }

    #weightlifting-img {
        background-position: 65% 80%;
        background-size: 30em;
        width: 300px;
        height: 300px;
        margin: 10px;
        border-radius: 50%;
    }

    /* Recipes Page (Start) */
    /* I used https://www.w3schools.com/css/css_rwd_grid.asp to learn how to position objects using display:grid; */

    .ingredients {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .preparation {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    .nutrition {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 4;
    }

    #recipes .recipe-img {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 4;
        min-width: 0;
        width: 270px;
        height: 410px;
        margin-left: 50px;
        margin-right: 50px;
        object-fit: cover;
    }

    #recipe-3 .recipe-img,
    #recipe-4 .recipe-img {
        height: auto;
    }

    #recipe-nav div>h3 {
        font-size: 16px;
    }

    .recipe-nav-class,
    #recipe-nav>a {
        height: 200px;
    }

    #recipe-1,
    #recipe-2,
    #recipe-3,
    #recipe-4 {
        display: grid;
        columns: 2;
        column-gap: 10px;
    }

    #recipe-1>h3,
    #recipe-2>h3,
    #recipe-3>h3,
    #recipe-4>h3 {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    /* Main Content (End) */

    /* Footer (Start) */
    footer>h3 {
        font-size: 150%;
    }

    #full-sized-footer-logo {
        display: inherit;
        border: 2px solid #fafafa;
        box-shadow: 0 2px 2px black;
        padding: 0px 10px;
        border-radius: 15px;
        align-items: center;
        /* Stop the full size logo from overhanging at the left at 768px */
        margin-left: 40px;
    }

    #mobile-footer-logo {
        display: none;
    }

    #gf-logo {
        border: none;
        box-shadow: none;
    }

    #social-networks {
        justify-content: space-around;
        align-items: center;
        padding: 5px;
        flex-direction: row;
        flex-wrap: nowrap;
        list-style-type: none;
        background-color: #585858;
        font-size: 150%;
        height: 112px;
        width: 50%;
    }

    /* Footer (End) */

    /* Media query: Laptops and larger (992px and up) */
    @media screen and (min-width:992px) {

        /* Header (Start)*/
        header {
            height: 125px;
            font-size: 125%;
        }

        /* Pushes main section down to accomodate taller header */
        main {
            margin-top: 125px;
        }

        /* Header (End)*/

        /* Workouts (Start)*/
        #workout-lists {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #workout-lists>div {
            width: 700px;
        }

        /* Workouts (End)*/
    }

    /* Media query: Larger laptops and PC screens (1024px and up) */
    @media screen and (min-width:1024px) {

        /* Main Content (Start) */
        p {
            text-align: center;
        }

        /* Hero (Start) */
        #hero {
            height: 700px;
        }

        #hero-text {
            font-size: 120%;
            width: 400px;
            left: 100px;
            bottom: 300px;
            padding: 30px;
        }

        /* Hero (End) */

        .content p {
            font-size: 18px;
        }

        .content h2 {
            font-size: 250%;
        }

        .content h3 {
            font-size: 200%;
        }

        #lifting-types hr {
            display: none;
        }

        /* Types of lifting section (Start) */
        .lifting-class {
            flex-basis: 500px;
            padding: 20px;
            text-align: center;
        }

        #lifting-types {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }

        .details-class p {
            font-size: 16px;
        }

        /* Types of lifting section (End) */

        /* Recipes (Start) */
        #recipe-nav a {
            width: 22%;
        }

        #recipes {
            width: 1024px;
            margin-left: auto;
            margin-right: auto;
        }

        /* Recipes (End) */
        /* Main Content (End) */
    }

    /* Media query: Wide Resolution PC screens (1440px and up) */
    @media screen and (min-width:1440px) {

        #hero {
            height: 70em;
            background: url(../images/hero.webp) no-repeat 20% 35% / cover;
        }

        #about,
        #lifting-types {
            margin-left: auto;
            margin-right: auto;
            max-width: 1520px;
        }
    }